{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %} List Faskes {% endblock %}

{% block body %}
<!-- <h1 class="m-3">List Reservasi RS</h1> -->

<p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
<div class="card m-3">
    <h3 class="card-header"> List Faskes </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table style="width:100%; border: 1px solid black" >
                <tr>
                    <th>Kode Faskes</th>
                    <th>Tipe</th>
                    <th>Nama Faskes</th>
                    <th>Action</th>
                </tr>
                {% for faskes in list_faskes %}
                <tr class="table-row">
                    <th>{{ faskes.kode }}</th>
                    <th>{{ faskes.tipe }}</th>
                    <th>{{ faskes.nama }}</th>
                    <th>
                        <a href="{% url 'trigger3:update_faskes' faskes.kode %}">Update</a><br>
                        <a href="{% url 'trigger3:delete_faskes' faskes.kode %}">Delete</a><br>
                        <a href="{% url 'trigger3:detail_faskes' faskes.kode %}">Detail</a>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
</div>
{% endblock %}