{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Create Faskes {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Create Faskes </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kode" class="form-label">Kode Faskes</label>
                    <input required readonly="readonly" type="text" name="kode" class="form-control " id="kode" value="{{ new_kode }}">
                </div>

                <div class="mb-3">
                    <label for="tipe" class="form-label">Tipe</label>
                    <input required type="text" name="tipe" class="form-control " id="tipe">
                </div>

                
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama Faskes</label>
                    <input required type="text" name="nama" class="form-control " id="nama">
                </div>
                
                <div class="mb-3">
                    <label for="statusmilik" class="form-label">Status Kepemilikan</label>
                    <input required type="text" name="statusmilik" class="form-control " id="statusmilik">
                </div>

                <h3>Alamat</h3>

                <div class="mb-3">
                    <label for="jalan" class="form-label">Jalan</label>
                    <input required type="text" name="jalan" class="form-control " id="jalan">
                </div>

                <div class="mb-3">
                    <label for="kelurahan" class="form-label">Kelurahan</label>
                    <input required type="text" name="kelurahan" class="form-control " id="kelurahan">
                </div>

                <div class="mb-3">
                    <label for="kecamatan" class="form-label">Kecamatan</label>
                    <input required type="text" name="kecamatan" class="form-control " id="kecamatan">
                </div>

                <div class="mb-3">
                    <label for="kabkot" class="form-label">Kabupaten/Kota</label>
                    <input required type="text" name="kabkot" class="form-control " id="kabkot">
                </div>

                <div class="mb-3">
                    <label for="prov" class="form-label">Provinsi</label>
                    <input required type="text" name="prov" class="form-control " id="prov">
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
