{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Detail Faskes {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Data Fasilitas Kesehatan </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Kode Faskes: {{ data.kode }} <br>
            Tipe: {{ data.tipe }} <br>
            Nama Faskes: {{ data.nama }} <br>
            Status Kepemilikan: {{ data.statusmilik }} <br><br>
            Alamat <br>
            Jalan: {{ data.jalan }} <br>
            Kelurahan: {{ data.kelurahan }} <br>
            Kecamatan: {{ data.kecamatan }} <br>
            Kabupaten/Kota: {{ data.kabkot }} <br>
            Provinsi: {{ data.prov }} <br>
        </li>
    </ul>
</div>
{% endblock %}