{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %} List Jadwal Faskes {% endblock %}

{% block body %}
<!-- <h1 class="m-3">List Reservasi RS</h1> -->

<div class="card m-3">
    <h3 class="card-header"> List Jadwal Faskes </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table style="width:100%; border: 1px solid black" >
                <tr>
                    <th>No.</th>
                    <th>Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                </tr>
                {% for jadwal in list_jadwal %}
                <tr class="table-row">
                    <th></th>
                    <th>{{ jadwal.kode_faskes }}</th>
                    <th>{{ jadwal.shift }}</th>
                    <th>{{ jadwal.tanggal }}</th>
                </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
</div>

<script>
    var rows = document.getElementsByClassName('table-row');

    for (var i = 0, len = rows.length; i < len; i++) {
        rows[i].children[0].innerHTML = (i + 1) + '.';
    }
</script>
{% endblock %}