{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Create Jadwal Faskes {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Create Jadwal Faskes </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kodefaskes" class="form-label">Faskes</label>
                    <select name="kodefaskes" id="kodefaskes" class="form-control">
                        <option value="" disabled selected>Select your option</option>
                        {% for data in list_kode %}
                        <option value="{{ data.kode }}">{{ data.kode }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="shift" class="form-label">Shift</label>
                    <input required type="text" name="shift" class="form-control " id="shift">
                </div>

                <div class="mb-3">
                    <label for="tanggal" class="form-label">Tanggal</label>
                    <input required type="text" name="tanggal" class="form-control " id="tanggal" placeholder="dd-mm-yyyy">
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
