{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Create Reservasi RS {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Create Reservasi RS </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nikpasien" class="form-label">NIK Pasien</label>
                    <select name="nikpasien" id="nikpasien" class="form-control">
                        <option value="" disabled selected>Select your option</option>
                        {% for pasien in list_pasien %}
                        <option value={{ pasien.nik }}>{{ pasien.nik }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
                    <input required type="text" name="tglmasuk" class="form-control " id="tglmasuk" placeholder="dd-mm-yyyy">
                </div>

                <div class="mb-3">
                    <label for="tglkeluar" class="form-label">Tanggal Keluar</label>
                    <input required type="text" name="tglkeluar" class="form-control " id="tglkeluar" placeholder="dd-mm-yyyy">
                </div>
                
                <div class="mb-3">
                    <label for="koders" class="form-label">Kode RS</label>
                    <select name="koders" id="koders" class="form-control">
                        <option value="" disabled selected>Select your option</option>
                        {% for rs in list_rs %}
                        <option value={{ rs.kode_faskes }}>{{ rs.kode_faskes }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3" id="koderuangan-card">
                    <label for="koderuangan" class="form-label">Kode Ruangan</label>
                    <select name="koderuangan" id="koderuangan" class="form-control">
                    </select>
                </div>

                <div class="mb-3" id="kodebed-card">
                    <label for="kodebed" class="form-label">Kode Bed</label>
                    <select name="kodebed" id="kodebed" class="form-control">
                    </select>
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function() {
        console.log("HALO");

        /* Ajax call untuk option ruangan */

        $("#koders").change(function () {
            var kodeRS = $(this).find(":selected").val();
            var urlStr = "/get_ruangan_of_rs?q=" + kodeRS;

            console.log(kodeRS);

            $.ajax({
                url: urlStr,
                success: function(data) {
                    console.log(data);
                    $("#koderuangan").empty();

                    $("#koderuangan").append("<option value=\"\" disabled selected>Select your option</option>");

                    for (i = 0; i < data.length; i++) {
                        var kodeRuangan = data[i];
                        $("#koderuangan").append("<option value=\"" + kodeRuangan + "\">" + kodeRuangan + "</option>");
                    }
                }
            });

            urlStr = "/get_bed_of_rs?q=" + kodeRS;

            console.log(kodeRS);

            $.ajax({
                url: urlStr,
                success: function(data) {
                    console.log(data);
                    $("#kodebed").empty();

                    $("#kodebed").append("<option value=\"\" disabled selected>Select your option</option>");

                    for (i = 0; i < data.length; i++) {
                        var kodeBed = data[i];
                        $("#kodebed").append("<option value=\"" + kodeBed + "\">" + kodeBed + "</option>");
                    }
                }
            });

        
        });
    });
</script>
{% endblock %}
