{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %} List Reservasi RS {% endblock %}

{% block body %}
<!-- <h1 class="m-3">List Reservasi RS</h1> -->

<p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
<div class="card m-3">
    <h3 class="card-header"> List Reservasi RS </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table style="width:100%; border: 1px solid black" >
                <tr>
                    <th class="table-head">No.</th>
                    <th class="table-head">NIK Pasien</th>
                    <th class="table-head">Tanggal Masuk</th>
                    <th class="table-head">Tanggal Keluar</th>
                    <th class="table-head">Rumah Sakit</th>
                    <th class="table-head">Ruangan</th>
                    <th class="table-head">Bed</th>
                    {% if request.session.role == 'SATGAS' %}
                    <th class="table-head">Action</th>
                    {% endif %}
                </tr>
                {% for reservasi in reservasi_rs %}
                <tr class="table-row">
                    <th class=""></th>
                    <th>{{ reservasi.kodepasien }}</th>
                    <th>{{ reservasi.tglmasuk }}</th>
                    <th>{{ reservasi.tglkeluar }}</th>
                    <th>{{ reservasi.koders }}</th>
                    <th>{{ reservasi.koderuangan }}</th>
                    <th>{{ reservasi.kodebed }}</th>
                    {% if request.session.role == 'SATGAS' %}
                    <th>
                        <a href="{% url 'trigger3:update_reservasi_rs' reservasi.kodepasien reservasi.tglmasuk %}">Update</a>
                        <a href="{% url 'trigger3:delete_reservasi_rs' reservasi.kodepasien reservasi.tglmasuk %}">Delete</a>
                    </th>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
</div>

<script>
    var rows = document.getElementsByClassName('table-row');

    for (var i = 0, len = rows.length; i < len; i++) {
        rows[i].children[0].innerHTML = (i + 1) + '.';
    }
</script>
{% endblock %}