{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Update Reservasi RS {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Update Reservasi RS </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                {% for d in data %}
                <div class="mb-3">
                    <label for="nikpasien" class="form-label">NIK Pasien</label>
                    <input disabled name="nikpasien" id="nikpasien" class="form-control" value="{{ d.kodepasien }}" placeholder="{{ d.kodepasien }}">
                </div>

                <div class="mb-3">
                    <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
                    <input disabled type="text" name="tglmasuk" class="form-control " id="tglmasuk" value="{{ d.tglmasuk }}" placeholder="{{ d.tglmasuk }}"> 
                </div>

                <div class="mb-3">
                    <label for="tglkeluar" class="form-label">Tanggal Keluar</label>
                    <input required type="text" name="tglkeluar" class="form-control " id="tglkeluar" placeholder="dd-mm-yyyy">
                </div>
                
                <div class="mb-3">
                    <label for="koders" class="form-label">Kode RS</label>
                    <input disabled name="koders" id="koders" class="form-control" value="{{ d.koders }}" placeholder="{{ d.koders }}">
                </div>

                <div class="mb-3" id="koderuangan-card">
                    <label for="koderuangan" class="form-label">Kode Ruangan</label>
                    <input disabled name="koderuangan" id="koderuangan" class="form-control" value="{{ d.koderuangan }}" placeholder="{{ d.koderuangan }}">
                </div>

                <div class="mb-3" id="kodebed-card">
                    <label for="kodebed" class="form-label">Kode Bed</label>
                    <input disabled name="kodebed" id="kodebed" class="form-control" value="{{ d.kodebed }}" placeholder="{{ d.kodebed }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>

{% endblock %}