{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Create Rumah Sakit {% endblock %}

{% block body %}
<p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
<div class="card m-3">
    <h3 class="card-header"> Create Rumah Sakit </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kodefaskes" class="form-label">Faskes</label>
                    <select name="kodefaskes" id="kodefaskes" class="form-control">
                        <option value="" disabled selected>Select your option</option>
                        {% for data in list_kode %}
                        <option value="{{ data.kode }}">{{ data.kode }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="isrujukan" class="form-label">Rujukan</label>
                    <input type="checkbox" name="isrujukan" id="isrujukan" value="1">
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
