{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %} List Rumah Sakit {% endblock %}

{% block body %}
<!-- <h1 class="m-3">List Reservasi RS</h1> -->

<div class="card m-3">
    <h3 class="card-header"> List Rumah Sakit </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table style="width:100%; border: 1px solid black" >
                <tr>
                    <th>Kode</th>
                    <th>Rujukan?</th>
                    <th>Action</th>
                </tr>
                {% for rs in list_rs %}
                <tr class="table-row">
                    <th>{{ rs.kode_faskes }}</th>
                    {% if rs.isrujukan == '1' %}
                    <th><input type="checkbox" disabled checked></th>
                    {% else %}
                    <th><input type="checkbox" disabled></th>
                    {% endif %}
                    <th>
                        <a href="{% url 'trigger3:update_rs' rs.kode_faskes %}">Update</a><br>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
</div>
{% endblock %}