{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Update Rumah Sakit {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Update Rumah Sakit </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kodefaskes" class="form-label">Faskes</label>
                    <input required readonly="readonly" type="text" name="kodefaskes" class="form-control " id="kodefaskes" value="{{ data.kode_faskes }}">
                </div>

                <div class="mb-3">
                    <label for="isrujukan" class="form-label">Rujukan</label>
                    {% if data.isrujukan == '1' %}
                    <input type="checkbox" name="isrujukan" id="isrujukan" value="1" checked>
                    {% else %}
                    <input type="checkbox" name="isrujukan" id="isrujukan" value="1">
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
