{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
{% endblock %}

{% block title %} List Transaksi RS {% endblock %}

{% block body %}
<!-- <h1 class="m-3">List Reservasi RS</h1> -->

<p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
<div class="card m-3">
    <h3 class="card-header"> List Transaksi RS </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table style="width:100%; border: 1px solid black" >
                <tr>
                    <th>ID Transaksi</th>
                    <th>Kode Pasien</th>
                    <th>Tanggal Pembayaran</th>
                    <th>Waktu Pembayaran</th>
                    <th>Tanggal Masuk</th>
                    <th>Total Biaya</th>
                    <th>Status Bayar</th>
                    <th>Action</th>
                </tr>
                {% for transaksi in list_transaksi %}
                <tr class="table-row">
                    <th>{{ transaksi.idtransaksi }}</th>
                    <th>{{ transaksi.kodepasien }}</th>
                    <th>{{ transaksi.tglpembayaran }}</th>
                    <th>{{ transaksi.waktupembayaran }}</th>
                    <th>{{ transaksi.tglmasuk }}</th>
                    <th>{{ transaksi.totalbiaya }}</th>
                    <th>{{ transaksi.statusbayar }}</th>
                    <th>
                        <a href="{% url 'trigger3:update_transaksi_rs' transaksi.idtransaksi %}">Update</a><br>
                        <a href="{% url 'trigger3:delete_transaksi_rs' transaksi.idtransaksi %}">Delete</a><br>
                    </th>
                </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
</div>
{% endblock %}