{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/../static/style.css' %}">
{% endblock %}

{% block title %} Update Transaksi RS {% endblock %}

{% block body %}
<div class="card m-3">
    <h3 class="card-header"> Update Transaksi RS </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="idtransaksi" class="form-label">ID Transaksi</label>
                    <input required readonly type="text" name="idtransaksi" class="form-control " id="idtransaksi" value="{{ data.idtransaksi }}">
                </div>

                <div class="mb-3">
                    <label for="kodepasien" class="form-label">Kode Pasien</label>
                    <input required readonly type="text" name="kodepasien" class="form-control " id="kodepasien" value="{{ data.kodepasien }}">
                </div>

                <div class="mb-3">
                    <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
                    <input required readonly type="text" name="tglmasuk" class="form-control " id="tglmasuk" value="{{ data.tglmasuk }}">
                </div>

                <div class="mb-3">
                    <label for="tglpembayaran" class="form-label">Tanggal Pembayaran</label>
                    <input required readonly type="text" name="tglpembayaran" class="form-control " id="tglpembayaran" value="{{ data.tglpembayaran }}">
                </div>

                <div class="mb-3">
                    <label for="waktupembayaran" class="form-label">Waktu Pembayaran</label>
                    <input required readonly type="text" name="waktupembayaran" class="form-control " id="waktupembayaran" value="{{ data.waktupembayaran }}">
                </div>

                <div class="mb-3">
                    <label for="totalbiaya" class="form-label">Total Biaya</label>
                    <input required readonly type="text" name="totalbiaya" class="form-control " id="totalbiaya" value="{{ data.totalbiaya }}">
                </div>

                <div class="mb-3">
                    <label for="statusbayar" class="form-label">Status Bayar</label>
                    <input required type="text" name="statusbayar" class="form-control" id="statusbayar">
                </div>

                <button type="submit" class="btn btn-success btn-block">Simpan</button>
            </form>
        </li>
    </ul>
</div>
{% endblock %}
