{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Buat Ruangan Hotel{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Buat Ruangan Hotel</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3 " id="form-label">
            <label for="KodeHotel" class="form-label">Kode Hotel</label>
            <select  name="KodeHotel" id="KodeHotel" class="form-control">
                {% for d in data %}
                <option value={{ d }}>{{ d }}</option>
                {% endfor %}
            </select>
        </div>

        {% comment %} <div class="mb-3">
            <label for="KodeRoom" class="form-label">Kode Ruangan</label>
            <input required type="text" name="KodeRoom" class="form-control" id="KodeRoom">
        </div> {% endcomment %}

        <div class="mb-3">
            <label for="JenisBed" class="form-label">Jenis Bed</label>
            <input required type="text" name="JenisBed" class="form-control" id="JenisBed">
        </div>

        <div class="mb-3">
            <label for="Tipe" class="form-label">Tipe</label>
            <input required type="text" name="Tipe" class="form-control" id="Tipe">
        </div>

        <div class="mb-3">
            <label for="Harga" class="form-label">Harga per hari</label>
            <input required type="number" name="Harga" class="form-control" id="Harga">
        </div>

        <button type="submit" class="btn btn-success btn-block">Simpan</button>
    </form>
</div>
{% endblock %}