{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Buat Reservasi Hotel{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Buat Reservasi Hotel</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3 " id="form-label">
            <label for="KodePasien" class="form-label">NIK Pasien</label>
            <select  name="KodePasien" id="KodePasien" class="form-control">
                {% for d in data_nik %}
                <option value={{ d }}>{{ d }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="TglMasuk" class="form-label">Tanggal Masuk</label>
            <input required type="date" name="TglMasuk" class="form-control" id="TglMasuk">
        </div>

        <div class="mb-3">
            <label for="TglKeluar" class="form-label">Tanggal Keluar</label>
            <input required type="date" name="TglKeluar" class="form-control" id="TglKeluar">
        </div>

        <div class="mb-3 " id="form-label">
            <label for="KodeHotel" class="form-label">Kode Hotel</label>
            <select  name="KodeHotel" id="KodeHotel" class="form-control">
                {% for d in data_hotel %}
                <option value={{ d }}>{{ d }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 " id="form-label">
            <label for="KodeRoom" class="form-label">Kode Ruangan</label>
            <select  name="KodeRoom" id="KodeRoom" class="form-control">
                {% for d in data_room %}
                <option value={{ d }}>{{ d }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success btn-block">Simpan</button>
    </form>
</div>
{% endblock %}