{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    body {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
  </style>
{% endblock %}

{% block title %}Hotel{% endblock %}

{% block body %}
<h3 class="text-center mt-5">Anda Tidak Dapat Akses Bagian Ini</h3>
{% endblock %}