{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    body {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
  </style>
{% endblock %}

{% block title %}Reservasi Hotel{% endblock %}

{% block body %}
<h3 class="text-center mt-5">List Reservasi Hotel</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Tanggal Masuk</th>
        <th scope="col">Tanggal Keluar</th>
        <th scope="col">Kode Hotel</th>
        <th scope="col">Ruangan</th>
        {% if request.session.role == 'SATGAS' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rsv in data %}  
      <tr>
        <td></td>
        <td>{{ rsv.0 }}</td>
        <td>{{ rsv.1 }}</td>
        <td>{{ rsv.2 }}</td>
        <td>{{ rsv.3 }}</td>
        <td>{{ rsv.4 }}</td>
        {% if request.session.role == 'SATGAS' %}
        <td>
          <div class="d-flex">
            <form action="{% url 'hotel:updatersvhotel' %}" method="get">
                <input type="text" name="KodePasien" value="{{ rsv.0 }}" hidden>
                <input type="text" name="TglMasuk" value="{{ rsv.1 }}" hidden>
                <input type="text" name="TglKeluar" value="{{ rsv.2 }}" hidden>
                <input type="text" name="KodeHotel" value="{{ rsv.3 }}" hidden>
                <input type="text" name="KodeRoom" value="{{ rsv.4 }}" hidden>
                <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'hotel:deletersvhotel' %}" method="post">
                {% csrf_token %}
                <input type="text" name="KodePasien" value="{{ rsv.0 }}" hidden>
                <input type="text" name="TglMasuk" value="{{ rsv.1 }}" hidden>
                <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
