{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    body {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
  </style>
{% endblock %}

{% block title %}Hotel{% endblock %}

{% block body %}
<h3 class="text-center mt-5">List Ruangan Hotel</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode Hotel</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Jenis Bed</th>
        <th scope="col">Tipe</th>
        <th scope="col">Harga</th>
        {% if request.session.role == 'ADMIN_SISTEM' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for hotel in data %}  
      <tr>
        <td></td>
        <td>{{ hotel.0 }}</td>
        <td>{{ hotel.1 }}</td>
        <td>{{ hotel.2 }}</td>
        <td>{{ hotel.3 }}</td>
        <td>{{ hotel.4 }}</td>
        {% if request.session.role == 'ADMIN_SISTEM' %}
        <td>
          <div class="d-flex">
            <form action="{% url 'hotel:updatehotel' %}" method="get">
                <input type="text" name="KodeHotel" value="{{ hotel.0 }}" hidden>
                <input type="text" name="KodeRoom" value="{{ hotel.1 }}" hidden>
                <input type="text" name="JenisBed" value="{{ hotel.2 }}" hidden>
                <input type="text" name="Tipe" value="{{ hotel.3 }}" hidden>
                <input type="number" name="Harga" value="{{ hotel.4 }}" hidden>
                <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'hotel:deletehotel' %}" method="post">
                {% csrf_token %}
                <input type="text" name="KodeHotel" value="{{ hotel.0 }}" hidden>
                <input type="text" name="KodeRoom" value="{{ hotel.1 }}" hidden>
                <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}