{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    body {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
  </style>
{% endblock %}

{% block title %}Transaksi Booking{% endblock %}

{% block body %}
<h3 class="text-center mt-5">List Transaksi Booking</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Id Transaksi</th>
        <th scope="col">Total Bayar</th>
        <th scope="col">Kode Pasien</th>
        <th scope="col">Tanggal masuk</th>
        {% if request.session.role == 'SATGAS' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for bkg in data %}  
      <tr>
        <td></td>
        <td>{{ bkg.0 }}</td>
        <td>{{ bkg.1 }}</td>
        <td>{{ bkg.2 }}</td>
        <td>{{ bkg.3 }}</td>
        {% if request.session.role == 'SATGAS' %}
        <td>
          <div class="d-flex">
            <form action="{% url 'hotel:deletetrsbooking' %}" method="post">
                {% csrf_token %}
                <input type="text" name="IdTransaksiBooking" value="{{ bkg.0 }}" hidden>
                <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}