{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <style>
    body {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
  </style>
{% endblock %}

{% block title %}Transaksi Hotel{% endblock %}

{% block body %}
<h3 class="text-center mt-5">List Transaksi Hotel</h3>
<div id="table-container" class="d-flex justify-content-center">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Id Transaksi</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Tanggal Pembayaran</th>
        <th scope="col">Waktu Pembayaran</th>
        <th scope="col">Total Bayar</th>
        <th scope="col">Status</th>
        {% if request.session.role == 'SATGAS' %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for trs in data %}  
      <tr>
        <td></td>
        <td>{{ trs.0 }}</td>
        <td>{{ trs.1 }}</td>
        <td>{{ trs.2 }}</td>
        <td>{{ trs.3 }}</td>
        <td>{{ trs.4 }}</td>
        <td>{{ trs.5 }}</td>
        {% if request.session.role == 'SATGAS' %}
        <td>
          <div class="d-flex">
            <form action="{% url 'hotel:updatetrshotel' %}" method="get">
                <input type="text" name="IdTransaksi" value="{{ trs.0 }}" hidden>
                <input type="text" name="KodePasien" value="{{ trs.1 }}" hidden>
                <input type="date" name="TanggalPembayaran" value="{{ trs.2 }}" hidden>
                <input type="timestamp" name="WaktuPembayaran" value="{{ trs.3 }}" hidden>
                <input type="number" name="TotalBayar" value="{{ trs.4 }}" hidden>
                <input type="text" name="StatusBayar" value="{{ trs.5 }}" hidden>
                <button class="btn btn-primary mr-2">Update</button>
            </form>
            <form action="{% url 'hotel:deletetrshotel' %}" method="post">
                {% csrf_token %}
                <input type="text" name="IdTransaksi" value="{{ trs.0 }}" hidden>
                <input type="text" name="KodePasien" value="{{ trs.1 }}" hidden>
                <button class="btn btn-delete btn-danger">Delete</button>
            </form>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}