{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Hotel{% endblock %}

{% block body %}
<h3 class="mt-5 text-center">Update Hotel</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'hotel:updatehotel' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="KodeHotel">Kode Hotel</label>
      <input
        readonly
        required
        value="{{ KodeHotel }}"
        type="text"
        class="form-control"
        id="KodeHotel"
        name="KodeHotel"
      />
    </div>
    <div class="form-group">
      <label for="KodeRoom">Kode Room</label>
      <input
        readonly
        required
        value="{{ KodeRoom }}"
        type="text"
        class="form-control"
        id="KodeRoom"
        name="KodeRoom"
      />
    </div>
    <div class="form-group">
      <label for="JenisBed">Jenis Bed</label>
      <input
        required
        value="{{ JenisBed }}"
        type="text"
        class="form-control"
        id="JenisBed"
        name="JenisBed"
      />
    </div>
    <div class="form-group">
      <label for="Tipe">Tipe</label>
      <input
        required
        value="{{ Tipe }}"
        type="text"
        class="form-control"
        id="Tipe"
        name="Tipe"
      />
    </div>
    <div class="form-group">
      <label for="Harga">Harga</label>
      <input
        required
        value="{{ Harga }}"
        type="number"
        class="form-control"
        id="Harga"
        name="Harga"
      />
    </div>
    {% comment %} <div class="form-group">
      <label for="kode_item">Kode Item</label>
      <select name="kode_item" id="kode_item" class="form-control" required>
        {% for k in daftar_kode %}
        <option {% if k.0 == kode %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div> {% endcomment %}
  
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock %}