{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Reservasi Hotel{% endblock %}

{% block body %}
<h3 class="mt-5 text-center">Update Reservasi Hotel</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'hotel:updatersvhotel' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="KodePasien">Kode Pasien</label>
      <input
        readonly
        required
        value="{{ KodePasien }}"
        type="text"
        class="form-control"
        id="KodePasien"
        name="KodePasien"
      />
    </div>
    <div class="form-group">
      <label for="TglMasuk">Tgl Masuk</label>
      <input
        readonly
        required
        value="{{ TglMasuk }}"
        type="date"
        class="form-control"
        id="TglMasuk"
        name="TglMasuk"
      />
    </div>
    <div class="form-group">
      <label for="TglKeluar">Tgl Keluar</label>
      <input
        required
        value="{{ TglKeluar }}"
        type="date"
        class="form-control"
        id="TglKeluar"
        name="TglKeluar"
      />
    </div>
    <div class="form-group">
      <label for="KodeHotel">Kode Hotel</label>
      <input
        readonly
        required
        value="{{ KodeHotel }}"
        type="text"
        class="form-control"
        id="KodeHotel"
        name="KodeHotel"
      />
    </div>
    <div class="form-group">
      <label for="KodeRoom">Kode Room</label>
      <input
        readonly
        required
        value="{{ KodeRoom }}"
        type="text"
        class="form-control"
        id="KodeRoom"
        name="KodeRoom"
      />
    </div>
    {% comment %} <div class="form-group">
      <label for="kode_item">Kode Item</label>
      <select name="kode_item" id="kode_item" class="form-control" required>
        {% for k in daftar_kode %}
        <option {% if k.0 == kode %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div> {% endcomment %}
  
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock %}
