{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %}Transaksi Hotel{% endblock %}

{% block body %}
<h3 class="mt-5 text-center">Update Transaksi Hotel</h3>
<div class="d-flex flex-column align-items-center">
  <form
    action="{% url 'hotel:updatetrshotel' %}"
    method="POST"
    class="col-6 pb-5"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="IdTransaksi">Id Transaksi</label>
      <input
        readonly
        required
        value="{{ IdTransaksi }}"
        type="text"
        class="form-control"
        id="IdTransaksi"
        name="IdTransaksi"
      />
    </div>
    <div class="form-group">
      <label for="KodePasien">Kode Pasien</label>
      <input
        readonly
        required
        value="{{ KodePasien }}"
        type="text"
        class="form-control"
        id="KodePasien"
        name="KodePasien"
      />
    </div>
    <div class="form-group">
      <label for="TanggalPembayaran">Tanggal Pembayaran</label>
      <input
        readonly
        required
        value="{{ TanggalPembayaran }}"
        type="date"
        class="form-control"
        id="TanggalPembayaran"
        name="TanggalPembayaran"
      />
    </div>
    <div class="form-group">
      <label for="WaktuPembayaran">Waktu Pembayaran</label>
      <input
        readonly
        required
        value="{{ WaktuPembayaran }}"
        type="timestamp"
        class="form-control"
        id="WaktuPembayaran"
        name="WaktuPembayaran"
      />
    </div>
    <div class="form-group">
      <label for="TotalBayar">Total Bayar</label>
      <input
        readonly
        required
        value="{{ TotalBayar }}"
        type="number"
        class="form-control"
        id="TotalBayar"
        name="TotalBayar"
      />
    </div>
    <div class="form-group">
      <label for="StatusBayar">Status Bayar</label>
      <input
        required
        value="{{ StatusBayar }}"
        type="text"
        class="form-control"
        id="StatusBayar"
        name="StatusBayar"
      />
    </div>
    {% comment %} <div class="form-group">
      <label for="kode_item">Kode Item</label>
      <select name="kode_item" id="kode_item" class="form-control" required>
        {% for k in daftar_kode %}
        <option {% if k.0 == kode %}selected{% endif %} value="{{ k.0 }}">{{ k.0 }} : {{ k.1 }}</option>
        {% endfor %}
      </select>
    </div> {% endcomment %}
  
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-12">Update</button>
    </div>
  </form>
</div>
{% endblock %}
