{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Dashboard Dokter {% endblock %}

{% block body %}
<h1 class="m-3">This is Dashboard for Dokter</h1>
<!--{% if messages %}-->
<!--  <ul class="messages">-->
<!--    {% for message in messages %}-->
<!--      <li class="{{ message.tags }}">{{ message }}</li>-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--{% endif %}-->
<div class="card m-3">
    <h3 class="card-header"> Profile </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Username: {{ data.username }}</li>
        <li class="list-group-item"> No STR: {{ data.nostr }}</li>
        <li class="list-group-item"> Nama: {{ data.nama }}</li>
        <li class="list-group-item"> Nomor HP: {{ data.nohp }}</li>
        <li class="list-group-item"> Gelar Depan: {{ data.gelardepan }}</li>
        <li class="list-group-item"> Gelar Belakang: {{ data.gelarbelakang }}</li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header">Pasien</h3>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><a href="{% url 'dokter:Appointment' %}"> List Appointment </a></li>
        <li class="list-group-item"><a href="{% url 'trigger6:createHasilTesPasien' %}"> Buat Hasil Tes Pasien </a></li>
        <li class="list-group-item"><a href="{% url 'trigger6:listHasilTesPasien' %}"> List Hasil Tes Pasien </a></li>

    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header">Rumah Sakit</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'dokter:createJadwalDokter' %}"> Buat Jadwal Dokter </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:jadwalDokter' %}"> List Jadwal Dokter </a></li>
    </ul>
</div>

{% endblock %}