{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Dashboard Satgas {% endblock %}

{% block body %}
<h1 class="m-3">This is Dashboard for Satgas</h1>

<div class="card m-3">
    <h3 class="card-header"> Profile </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Username: {{ data.username }}</li>
        <li class="list-group-item"> ID Faskes: {{ data.idfaskes }}</li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Pasien </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'dokter:createAppointment' %}"> Buat Appointment </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:Appointment' %}"> List Appointment </a></li>
        <li class="list-group-item"><a href=""> List Hasil Tes Pasien </a></li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Faskes </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'trigger3:create_faskes' %}"> Buat Faskes </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:read_faskes' %}"> List Faskes </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:create_jadwal_faskes' %}"> Buat Jadwal Faskes </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:read_jadwal_faskes' %}"> List Jadwal Faskes </a></li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Rumah Sakit </h3>
    <ul class="list-group list-group-flush">

        <li class="list-group-item"><a href="{% url 'trigger3:create_rs' %}"> Buat RS </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:read_rs' %}"> List RS </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:jadwalDokter' %}"> List Jadwal Dokter </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:createRuanganRS' %}"> Buat Ruangan RS </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:RuanganRS' %}"> List Ruangan RS </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:createBed' %}"> Buat Bed RS </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:bed' %}"> List Bed RS </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:create_reservasi_rs' %}"> Buat Reservasi RS </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:list_reservasi_rs' %}"> List Reservasi RS </a></li>

    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Hotel </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href=""> List Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readhotel' %}"> List Ruangan Hotel </a></li>
        <li class="list-group-item"><a href=""> List Paket Makan </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:creatersvhotel' %}"> Buat Reservasi Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readrsvhotel' %}"> List Reservasi Hotel </a></li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Transaksi </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'trigger3:read_transaksi_rs' %}"> List Transaksi RS </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readtrshotel' %}"> List Transaksi Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readtrsbooking' %}"> List Transaksi Booking Hotel </a></li>
        <li class="list-group-item"><a href=""> Buat Transaksi Makan dan Daftar Pesan </a></li>
        <li class="list-group-item"><a href=""> List Transaksi Makan dan Daftar Pesan </a></li>
    </ul>
</div>

{% endblock %}
