{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Dashboard Admin Sistem {% endblock %}

{% block body %}
<h1 class="m-3">This is Dashboard for Admin Sistem</h1>

<div class="card m-3">
    <h3 class="card-header"> Profile </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Username: {{ data.username }}</li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header">Hotel</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href=""> Buat Hotel </a></li>
        <li class="list-group-item"><a href=""> List Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:createhotel' %}"> Buat Ruangan Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readhotel' %}"> List Ruangan Hotel </a></li>
        <li class="list-group-item"><a href=""> Buat Paket Makan </a></li>
        <li class="list-group-item"><a href=""> List Paket Makan </a></li>
    </ul>
</div>

{% endblock %}
