{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Dashboard Pengguna Publik {% endblock %}

{% block body %}
<h1 class="m-3">This is Dashboard for Pengguna Publik</h1>

<div class="card m-3">
    <h3 class="card-header"> Profile </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Username: {{ data.username }}</li>
        <li class="list-group-item"> NIK: {{ data.nik }}</li>
        <li class="list-group-item"> Nama: {{ data.nama }}</li>
        <li class="list-group-item"> Status: {{ data.status }}</li>
        <li class="list-group-item"> Peran: {{ data.peran }}</li>
        <li class="list-group-item"> Nomor HP: {{ data.nohp }}</li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header">Pasien</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'pasien:daftarPasien' %}"> Pendaftaran Pasien </a></li>
        <li class="list-group-item"><a href="{% url 'pasien:listPasien' %}"> List Pasien </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:createAppointment' %}"> Buat Appointment </a></li>
        <li class="list-group-item"><a href="{% url 'dokter:Appointment' %}"> List Appointment </a></li>
        <li class="list-group-item"><a href="{% url 'trigger6:listHasilTesPasien' %}"> List Hasil Tes Pasien </a></li>

    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Rumah Sakit </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href=""> List Jadwal Dokter </a></li>
        <li class="list-group-item"><a href="{% url 'trigger3:list_reservasi_rs' %}"> List Reservasi RS </a></li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Hotel </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href=""> List Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readhotel' %}"> List Ruangan Hotel </a></li>
        <li class="list-group-item"><a href=""> List Paket Makan </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:creatersvhotel' %}"> Buat Reservasi Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readrsvhotel' %}"> List Reservasi Hotel </a></li>
    </ul>
</div>

<div class="card m-3">
    <h3 class="card-header"> Transaksi </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'trigger6:listTransaksiRS' %}"> Bayar Transaksi RS </a></li>
        <li class="list-group-item"><a href="{% url 'trigger6:listTransaksiHotel' %}"> Bayar Transaksi Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readtrshotel' %}"> List Transaksi Hotel </a></li>
        <li class="list-group-item"><a href="{% url 'hotel:readtrsbooking' %}"> List Transaksi Booking Hotel </a></li>
        <li class="list-group-item"><a href=""> Buat Transaksi Makan dan Daftar Pesan </a></li>
        <li class="list-group-item"><a href=""> List Transaksi Makan dan Daftar Pesan </a></li>
    </ul>
</div>

{% endblock %}
