{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} SIRUCO {% endblock %}

{% block body %}
<h1 class="m-3">Selamat Datang di SIRUCO</h1>

<div class="card m-3">
    <h3 class="card-header"><a href="{% url 'login:login' %}"> Login </a></h3>
</div>

<div class="card m-3">
    <h3 class="card-header"><a href="{% url 'login:register' %}"> Register </a></h3>
</div>

{% endblock %}
