{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block title %} login{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Login</h1>
      <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input required type="email" name="username" class="form-control" id="username">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input required type="password" name="password" class="form-control" id="password">
        </div>


        <button type="submit"  class="btn btn-success btn-block">Login</button>


    </form>
</div>
{% endblock %}
{%block script %}
{% endblock%}