{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}
{% block title %} register{% endblock %}

{% block body %}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="container">
    <h1 class="text-center">Register</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="tipe" class="form-label">Tipe Pengguna</label>
            <select onchange="changeTipe(this)" name="tipe" id="tipe" class="form-control">
                <option value="satgas">Admin Satgas</option>
                <option value="pengguna">Pengguna Publik</option>
                <option value="sistem">Admin Sistem</option>
                <option value="dokter">Dokter</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input required type="email" name="email" class="form-control " id="email">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input required type="password" name="password" class="form-control" id="password">
        </div>

         <div class="mb-3 hidden" id="str-form">
            <label for="str" class="form-label">Nomor STR</label>
            <input required type="text" name="str" id="str" class="form-control required">
        </div>

        <div class="mb-3 hidden" id="nama-form">
            <label for="nama" class="form-label">Nama Lengkap</label>
            <input required type="text" name="fullname" id="nama" class="form-control required">
        </div>

         <div class="mb-3 hidden" id="nik-form">
            <label for="nik" class="form-label">NIK</label>
            <input required type="text" name="nik" id="nik" class="form-control required">
        </div>

         <div class="mb-3 hidden" id="hp-form">
            <label for="hp" class="form-label">Nomor HP</label>
            <input required type="text" name="hp" id="hp" class="form-control required">
        </div>

        <div class="mb-3 hidden" id="dpn-form">
            <label for="gelar-depan" class="form-label">Gelar Depan</label>
            <input required type="text" name="gelar-depan" id="gelar-depan" class="form-control required">
        </div>

        <div class="mb-3 hidden" id="blkng-form">
            <label for="gelar-belakang" class="form-label">Gelar Belakang</label>
            <input required type="text" name="gelar-belakang" id="gelar-belakang" class="form-control required">
        </div>

         <div class="mb-3 " id="faskes-form">
            <label for="faskes" class="form-label">Kode Faskes</label>
            <select  name="faskes" id="faskes" class="form-control">
                {% for faskes  in faskes_list %}
                <option value= {{ faskes.kode }}>{{ faskes.kode }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-block">Register</button>
    </form>
</div>
    {% endblock  %}
{% block script %}
<script>
    function changeTipe(obj) {
        const selectedIndex = obj.selectedIndex;
        const strForm = document.querySelector("#str-form");
        const namaForm = document.querySelector("#nama-form");
        const nikForm = document.querySelector("#nik-form");
        const hpForm = document.querySelector("#hp-form");
        const dpnForm = document.querySelector("#dpn-form");
        const blkngForm = document.querySelector("#blkng-form");
        const faskesForm = document.querySelector("#faskes-form");
        if (selectedIndex === 0) {
            namaForm.classList.add("hidden");
            nikForm.classList.add("hidden");
            hpForm.classList.add("hidden");
            dpnForm.classList.add("hidden");
            blkngForm.classList.add("hidden");
            faskesForm.classList.remove("hidden");
            strForm.classList.add("hidden")
        } else if (selectedIndex === 1) {
            strForm.classList.add("hidden")
            namaForm.classList.remove("hidden");
            nikForm.classList.remove("hidden");
            hpForm.classList.remove("hidden");
            dpnForm.classList.add("hidden");
            blkngForm.classList.add("hidden");
            faskesForm.classList.add("hidden");
        } else if (selectedIndex === 2) {
             strForm.classList.add("hidden")
            namaForm.classList.add("hidden");
            nikForm.classList.add("hidden");
            hpForm.classList.add("hidden");
            dpnForm.classList.add("hidden");
            blkngForm.classList.add("hidden");
            faskesForm.classList.add("hidden");
        } else if (selectedIndex === 3) {
             strForm.classList.remove("hidden")
            namaForm.classList.remove("hidden");
            nikForm.classList.add("hidden");
            hpForm.classList.remove("hidden");
            dpnForm.classList.remove("hidden");
            blkngForm.classList.remove("hidden");
            faskesForm.classList.add("hidden");
        }
    }
    $('.required').prop('required', function(){
   return  $(this).is(':visible');
});

</script>
{% endblock  %}
