{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Daftar Pasien {% endblock %}

{% block body %}
<h1 class="m-3"> Daftar Pasien </h1>

<div class="card m-3">
	<h3 class="card-header"> Data Pendaftar </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Username: {{ data.idpendaftar }}</li>
    </ul>

	<h3 class="card-header"> Data Pasien </h3>
    <ul class="list-group list-group-flush">
		<li class="list-group-item"> NIK: {{ data.nik }}</li>
        <li class="list-group-item"> Nama: {{ data.nama }}</li>
        <li class="list-group-item"> Nomor Telepon: {{ data.notelp }}</li>
        <li class="list-group-item"> Nomor HP: {{ data.nohp }}</li>
    </ul>
	
	<h3 class="card-header"> Data Alamat KTP </h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"> Jalan: {{ data.ktp_jalan }} </li>
		<li class="list-group-item"> Kelurahan: {{ data.ktp_kelurahan }} </li>
		<li class="list-group-item"> Kecamatan: {{ data.ktp_kecamatan }} </li>
		<li class="list-group-item"> Kabupaten/Kota: {{ data.ktp_kabkot }} </li>
		<li class="list-group-item"> Provinsi: {{ data.ktp_prov }} </li>
	</ul>

	<h3 class="card-header"> Data Alamat Domisili </h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"> Jalan: {{ data.dom_jalan }} </li>
		<li class="list-group-item"> Kelurahan: {{ data.dom_kelurahan }} </li>
		<li class="list-group-item"> Kecamatan: {{ data.dom_kecamatan }} </li>
		<li class="list-group-item"> Kabupaten/Kota: {{ data.dom_kabkot }} </li>
		<li class="list-group-item"> Provinsi: {{ data.dom_prov }} </li>
	</ul>
	
</div>

<div class="card m-3">
	<a href="{% url 'pasien:listPasien' %}" type="button" class="btn btn-secondary"> KEMBALI </a>
</div>


{% endblock %}