{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block title %} Pendaftaran Pasien {% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-3">Pendaftaran Pasien</h1>
    
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <div class="card my-3">
            <div class="p-3">
                <label for="idpendaftar" class="form-label">Pendaftar</label>
                <input value={{username}} type="text" name="idpendaftar" class="form-control " id="idpendaftar" disabled>
            </div>
            <div class="p-3">
                <label for="nik" class="form-label">NIK</label>
                <input type="text" name="nik" class="form-control " id="nik">
            </div>
            <div class="px-3 pb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" name="nama" class="form-control " id="nama">
            </div>
            <div class="px-3 pb-3">
                <label for="notelp" class="form-label">Nomor Telepon</label>
                <input type="text" name="notelp" class="form-control " id="notelp">
            </div>
            <div class="px-3 pb-3">
                <label for="nohp" class="form-label">Nomor HP</label>
                <input type="text" name="nohp" class="form-control " id="nohp">
            </div>
        </div>

        <div class="card my-3">
            <h4 class="p-3"> Alamat (Sesuai KTP) </h4>        
            <div class="px-3 pb-3">
                <label for="ktp_jalan" class="form-label">Jalan</label>
                <input type="text" name="ktp_jalan" class="form-control " id="ktp_jalan">
            </div>
            <div class="px-3 pb-3">
                <label for="ktp_kelurahan" class="form-label">Kelurahan</label>
                <input type="text" name="ktp_kelurahan" class="form-control " id="ktp_kelurahan">
            </div>
            <div class="px-3 pb-3">
                <label for="ktp_kecamatan" class="form-label">Kecamatan</label>
                <input type="text" name="ktp_kecamatan" class="form-control " id="ktp_kecamatan">
            </div>
            <div class="px-3 pb-3">
                <label for="ktp_kabkot" class="form-label">Kabupaten/Kota</label>
                <input type="text" name="ktp_kabkot" class="form-control " id="ktp_kabkot">
            </div>
            <div class="px-3 pb-3">
                <label for="ktp_prov" class="form-label">Provinsi</label>
                <input type="text" name="ktp_prov" class="form-control " id="ktp_prov">
            </div>
        </div>

        <div class="card my-3">
            <h4 class="p-3"> Alamat (Sesuai Domisili) </h4>        
            <div class="px-3 pb-3">
                <label for="dom_jalan" class="form-label">Jalan</label>
                <input type="text" name="dom_jalan" class="form-control " id="dom_jalan">
            </div>
            <div class="px-3 pb-3">
                <label for="dom_kelurahan" class="form-label">Kelurahan</label>
                <input type="text" name="dom_kelurahan" class="form-control " id="dom_kelurahan">
            </div>
            <div class="px-3 pb-3">
                <label for="dom_kecamatan" class="form-label">Kecamatan</label>
                <input type="text" name="dom_kecamatan" class="form-control " id="dom_kecamatan">
            </div>
            <div class="px-3 pb-3">
                <label for="dom_kabkot" class="form-label">Kabupaten/Kota</label>
                <input type="text" name="dom_kabkot" class="form-control " id="dom_kabkot">
            </div>
            <div class="px-3 pb-3">
                <label for="dom_prov" class="form-label">Provinsi</label>
                <input type="text" name="dom_prov" class="form-control " id="dom_prov">
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block mb-3">Simpan</button>
    </form>
</div>
{% endblock  %}