{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body {
            counter-reset: Serial;           /* Set the Serial counter to 0 */
        }
    
        tr td:first-child:before {
            counter-increment: Serial;      /* Increment the Serial counter */
            content: counter(Serial); /* Display the counter */
        }
      </style>
{% endblock %}

{% block title %} Daftar Pasien {% endblock %}

{% block body %}
<h1 class="m-3"> Daftar Pasien </h1>

<table class="table table-bordered m-3">
	<thead class="thead-dark">
	  <tr>
		<th>No.</th>
		<th>NIK</th>
		<th>Nama Pasien</th>
		<th>Tindakan</th>
	  </tr>
	</thead>
	<tbody>
		{% for pasien in listPasien %}
		<tr>
			<td></td>
			<td>{{ pasien.nik }}</td>
			<td>{{ pasien.nama }}</td>
			<td> 
				<a href="update/{{ pasien.nik }}"> [Update] </a>
				<a href="delete/{{ pasien.nik }}"> [Delete] </a>
				<a href="detail/{{ pasien.nik }}"> [Detail] </a>
			</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
{% endblock %}