{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Detail Transaksi RS {% endblock %}

{% block body %}
<h1 class="m-3"> Detail Transaksi RS </h1>

<div class="card m-3">
	<h3 class="card-header"> Data Transaksi </h3>
    <ul class="list-group list-group-flush">
		<li class="list-group-item"> NIK Pasien: {{ data.kodepasien }}</li>
        <li class="list-group-item"> Id Transaksi: {{ data.idtransaksi }}</li>
        <li class="list-group-item"> Tanggal Pembayaran: {{ data.tglpembayaran }}</li>
        <li class="list-group-item"> Waktu Pembayaran: {{ data.waktupembayaran }}</li>
        <li class="list-group-item"> Total Biaya: {{ data.totalbiaya }}</li>
        <li class="list-group-item"> Status Bayar: {{ data.status }}</li>
    </ul>
	
	<h3 class="card-header"> Data Reservasi </h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"> Tanggal Masuk: {{ data.tglmasuk }} </li>
		<li class="list-group-item"> Tanggal Keluar: {{ data.tglkeluar }} </li>
		<li class="list-group-item"> Nama - ID Rumah Sakit: {{ data.nama }} - {{ data.kode }} </li>
		<li class="list-group-item"> Ruangan: {{ data.koderuangan }} </li>
		<li class="list-group-item"> Bed: {{ data.kodebed }} </li>
	</ul>
	
</div>

<div class="card m-3">
	<a href="{% url 'trigger6:listTransaksiRS' %}" type="button" class="btn btn-secondary"> KEMBALI </a>
</div>


{% endblock %}