{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<style>
		body {
			counter-reset: Serial;           /* Set the Serial counter to 0 */
		}
	
		#num:before {
			counter-increment: Serial;      /* Increment the Serial counter */
			content: counter(Serial); /* Display the counter */
		}
	  </style>
{% endblock %}

{% block title %} Detail Transaksi Hotel {% endblock %}

{% block body %}
<h1 class="m-3"> Detail Transaksi Hotel </h1>

<div class="card m-3">
	<h3 class="card-header"> Data Transaksi </h3>
    <ul class="list-group list-group-flush">
		<li class="list-group-item"> NIK Pasien: {{ data.kodepasien }}</li>
        <li class="list-group-item"> Id Transaksi: {{ data.idtransaksi }}</li>
        <li class="list-group-item"> Tanggal Pembayaran: {{ data.tanggalpembayaran }}</li>
        <li class="list-group-item"> Waktu Pembayaran: {{ data.waktupembayaran }}</li>
        <li class="list-group-item"> Total Biaya: {{ data.totalbayar }}</li>
        <li class="list-group-item"> Status Bayar: {{ data.statusbayar }}</li>
    </ul>
	
	<h3 class="card-header"> Rincian Bayar </h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"> Transaksi Booking: {{ booking.totalbayar }} </li>
		{% for makan in listMakan %}
			<li class="list-group-item"> Transaksi Makan <span id="num"></span>: {{ makan.totalbayar }} </li>
		{% endfor %}
	</ul>

	<h3 class="card-header"> Data Reservasi </h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"> Tanggal Masuk: {{ data.tglmasuk }} </li>
		<li class="list-group-item"> Tanggal Keluar: {{ data.tglkeluar }} </li>
		<li class="list-group-item"> Hotel: {{ data.nama }} </li>
		<li class="list-group-item"> Ruangan: {{ data.koderoom }} </li>
	</ul>
	
</div>

<div class="card m-3">
	<a href="{% url 'trigger6:listTransaksiHotel' %}" type="button" class="btn btn-secondary"> KEMBALI </a>
</div>


{% endblock %}