{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
      .hidden {
          display: none;
      }
  </style>
{% endblock %}
{% block title %} Buat Hasil Tes Pasien {% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center m-3">Buat Hasil Tes Pasien</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3 " id="nik-form">
            <label for="pasien" class="form-label">NIK Pasien</label>
            <select  name="pasien" id="pasien" class="form-control">
                {% for pasien  in listPasien %}
                    <option value= {{ pasien.nik }}>{{ pasien.nik }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="tanggal" class="form-label">Tanggal Tes</label>
            <input type="date" name="tanggal" class="form-control " id="tanggal">
        </div>

        <div class="mb-3">
            <label for="tipe" class="form-label">Jenis Tes</label>
            <select onchange="changeTipe(this)" name="tipe" id="tipe" class="form-control">
                <option value="Antigen"> Antigen </option>
                <option value="PCR"> PCR </option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select name="status" id="status" class="form-control custom-select">
                <option value="Non-Reaktif"> Non-Reaktif </option>
                <option value="Reaktif"> Reaktif </option>
            </select>
        </div>

        <div class="mb-3 hidden" id="nilaict-form">
            <label for="nilaict" class="form-label">Nilai CT</label>
            <input type="number" name="nilaict" class="form-control " id="nilaict">
        </div>

        <button type="submit" class="btn btn-success btn-block">Simpan</button>
    </form>
</div>
{% endblock  %}

{% block script %}
<script>
    function changeTipe(obj) {
        const selectedIndex = obj.selectedIndex;
        const nilaiCTForm = document.querySelector("#nilaict-form");
        if (selectedIndex === 0) {
            nilaiCTForm.classList.add("hidden");
        } else if (selectedIndex === 1) {
            nilaiCTForm.classList.remove("hidden");
        }
    }
    $('.required').prop('required', function(){
        return  $(this).is(':visible');
    });
</script>
{% endblock  %}