{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<style>
        body {
            counter-reset: Serial;           /* Set the Serial counter to 0 */
        }
    
        tr td:first-child:before {
            counter-increment: Serial;      /* Increment the Serial counter */
            content: counter(Serial); /* Display the counter */
        }
      </style>
{% endblock %}

{% block title %} Daftar Hasil Tes Pasien {% endblock %}

{% block body %}
<h1 class="m-3"> Daftar Hasil Tes Pasien </h1>

<table class="table table-bordered m-3">
	<thead class="thead-dark">
	  <tr>
		<th>No.</th>
		<th>NIK Pasien</th>
		<th>Tanggal Tes</th>
		<th>Jenis Tes</th>
		<th>Status</th>
		<th>Nilai CT</th>
	  </tr>
	</thead>
	<tbody>
		{% for hasil in listHasil %}
		<tr>
			<td></td>
			<td>{{ hasil.nik_pasien }}</td>
			<td>{{ hasil.tanggaltes }}</td>
			<td>{{ hasil.jenis }}</td>
			<td>{{ hasil.status }}</td>
			<td>{{ hasil.nilaict }}</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
{% endblock %}