{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %} Daftar Transaksi RS {% endblock %}

{% block body %}
<h1 class="m-3"> Daftar Transaksi RS </h1>

<table class="table table-bordered m-3">
	<thead class="thead-dark">
	  <tr>
		<th>ID Transaksi</th>
		<th>Kode Pasien</th>
		<th>Tanggal Pembayaran</th>
		<th>Tanggal Masuk</th>
		<th>Total Biaya</th>
		<th>Status Bayar</th>
		<th>Tindakan</th>
	  </tr>
	</thead>
	<tbody>
		{% for transaksi in listTransaksi %}
		<tr>
			<td>{{ transaksi.idtransaksi }}</td>
			<td>{{ transaksi.kodepasien }}</td>
			{% if transaksi.tglpembayaran is none %}
				<td> - </td>
			{% else %}
				<td>{{ transaksi.tglpembayaran }}</td>
			{% endif %}
			<td>{{ transaksi.tglmasuk }}</td>
			<td>{{ transaksi.totalbiaya }}</td>
			<td>{{ transaksi.statusbayar }}</td>
			<td> 
				{% if transaksi.statusbayar == "Belum Lunas" %}
					<a href="update/{{ transaksi.idtransaksi}}"> [Konfirmasi Pembayaran] </a>
				{% endif %}
				<a href="{{ transaksi.idtransaksi}}"> [Detail] </a>
			</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
{% endblock %}