{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %}  Jadwal Dokter{% endblock %}

{% block body%}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Jadwal Dokter</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">NIK Pasien</th>
                <th scope="col">Email Dokter</th>
                <th scope="col">Faskes</th>
                <th scope="col">Shift</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Rekomendasi</th>
                {% if role == "SATGAS" or role == "DOKTER" %}
                <th scope="col">Action</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {%for row in appointment %}
            <tr class="table-striped">
                <td>{{forloop.counter}}</td>
                <td>{{row.nik_pasien}}</td>
                <td>{{row.username_dokter}}</td>
                <td>{{row.kode_faskes}}</td>
                <td>{{row.praktek_shift}}</td>
                <td>{{row.praktek_tgl}}</td>
                <td>{{row.rekomendasi}}
                    {%if role == 'DOKTER' or role == 'SATGAS'%}
                <td class="hidden">{{row.nostr}}</td>
                {% endif %}
                {% if role == "DOKTER" %}
                <td><!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning btncreate" data-toggle="modal"
                            data-target="#exampleModalLong">
                        [Update]
                    </button>
                </td>
                {% endif %}
                {% if role == "SATGAS" %}
                <td><!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btncreate" data-toggle="modal"
                            data-target="#exampleModalLong">
                        [Delete]
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

            {% if role == "SATGAS" %}
            <div class="modal fade" id="edtmodal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">FORM DELETE APPOINTMENT</h5>
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <h6>Apakah Kamu Serius Ingin Menghapus Appointment ini? </h6>
                                <input required type="text" name="nik" class="form-control hidden " id="nik">
                                <input required type="text" name="str" class="form-control hidden" id="str">
                                <input required type="email" name="email" class="form-control hidden" id="email">
                                <input required type="text" name="shift" id="shift" class="form-control hidden">
                                <input required type="text" name="tanggal" id="tanggal" class="form-control hidden">
                                <input required type="text" name="kodeFaskes" class="form-control hidden"
                                       id="kodeFaskes">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% endif %}

            </tbody>
        </table>
    </div>

    {% if role == "DOKTER" %}
    <div class="modal fade" id="edtmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">FORM UBAH APPOINTMENT</h5>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nik" class="form-label">NIK Pasien</label>
                            <input required type="text" name="nik" class="form-control " id="nik" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email Dokter</label>
                            <input required type="email" name="email" class="form-control " id="email"
                                   readonly>
                        </div>

                        <div class="mb-3 " id="shift-form">
                            <label for="shift" class="form-label">Shift Praktek</label>
                            <input required type="text" name="shift" id="shift" class="form-control"
                                   readonly>
                        </div>

                        <div class="mb-3 " id="tanggal-form">
                            <label for="tanggal" class="form-label">Tanggal Praktek</label>
                            <input required type="text" name="tanggal" id="tanggal" class="form-control"
                                   readonly>
                        </div>


                        <div class="mb-3">
                            <label for="kodeFaskes" class="form-label">Kode Faskes</label>
                            <input required type="text" name="kodeFaskes" class="form-control"
                                   id="kodeFaskes" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="rekomendasi" class="form-label">Rekomendasi</label>
                            <input required type="text" name="rekomendasi" class="form-control"
                                   id="rekomendasi">
                        </div>
                    </div>
                    <input required type="text" name="str" class="form-control hidden" id="str">
                                <
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">Close
                        </button>
                        <button type="submit" class="btn btn-success btn-block ">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock  %}

{% block script %}

{% if role == "DOKTER" %}
<script>


    $('.btncreate').on('click', function () {
        $('#edtmodal').modal('show');
        $tr = $(this).closest('tr')

        var data = $tr.children("td").map(function () {
            return $(this).text();
        }).get();
        console.log(data)

        $('#nik').val(data[1]);
        $('#email').val(data[2]);
        $('#kodeFaskes').val(data[3]);
        $('#tanggal').val(data[5]);
        $('#shift').val(data[4]);
        $('#str').val(data[7]);
    });
    $('#btnclose').on('click', function () {
        $('#edtmodal').modal('hide');
    });


</script>
{% endif %}

{% if role == "SATGAS" %}
<script>


    $('.btncreate').on('click', function () {
        $('#edtmodal').modal('show');
        $tr = $(this).closest('tr')

        var data = $tr.children("td").map(function () {
            return $(this).text();
        }).get();
        console.log(data)
        $('#nik').val(data[1]);
        $('#email').val(data[2]);
        $('#kodeFaskes').val(data[3]);
        $('#tanggal').val(data[5]);
        $('#shift').val(data[4]);
        $('#str').val(data[7]);

    });
    $('#btnclose').on('click', function () {
        $('#edtmodal').modal('hide');
    });


</script>
{% endif %}
{% endblock  %}
