{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %}   Bed{% endblock %}

{% block body%}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Bed Rumah Sakit</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kode RS</th>
                    <th scope="col">Kode Ruangan</th>
                    <th scope="col">Kode Bed</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
            {%for row in bed %}
                <tr class="table-striped">
                    <td>{{forloop.counter}}</td>
                    <td>{{row.koders}}</td>
                    <td>{{row.koderuangan}}</td>
                    <td>{{row.kodebed}}</td>
                    <td><!-- Button trigger modal -->
                        {% if row.kodepasien == None or row.tglkeluar < today %}
                    <button type="button" class="btn btn-danger btncreate" data-toggle="modal"
                            data-target="#exampleModalLong">
                        [Delete]
                    </button>
                        {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

 <div class="modal fade" id="edtmodal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">DELETE BED</h5>
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <h6>Apakah Kamu Serius Ingin Menghapus Bed ini? </h6>
                                <input required type="text" name="rs" class="form-control hidden " id="rs">
                                <input required type="text" name="ruangan" class="form-control hidden" id="kodeRuangan">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclose">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-danger btn-block ">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</div>



    {% endblock  %}
{% block script %}
<script>


    $('.btncreate').on('click',function (){
         $('#edtmodal').modal('show');
        $tr = $(this).closest('tr')

        var data = $tr.children("td").map(function (){
            return $(this).text();
        }).get();
        console.log(data)
        $('#rs').val(data[1]);
        $('#kodeRuangan').val(data[2]);
    });
    $('#btnclose').on('click',function (){
        $('#edtmodal').modal('hide');
    });


</script>
{% endblock  %}
