{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %} Create Jadwal Dokter{% endblock %}

{% block body%}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Jadwal Dokter</h1>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kode Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Buat Jadwal Dokter</th>

                </tr>
            </thead>
            <tbody>
            <form action="" method="post">
                        {% csrf_token %}
            {%for row in jadwal_list %}
                <tr class="table-striped">
                    <td>{{forloop.counter}}</td>
                    <td>{{row.kode_faskes}}
                        <input required type="text" name="kodeFaskes" id="kodeFaskes" class="form-control
                        hidden" value="{{row.kode_faskes}}"></td>
                    <td>{{row.shift}}
                    <input required type="text" name="shift" id="shift" class="form-control
                        hidden" value="{{row.shift}}"></td>
                    <td>{{row.tanggal}}
                    <input required type="text" name="tanggal" id="tanggal" class="form-control
                        hidden" value="{{row.tanggal}}"></td>
                    <td>
                    <input type="submit" name="create" value="create" />
                    </td>
                </tr>
            {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
</div>



    {% endblock  %}
{% block script %}

{% endblock  %}
