{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %} Create Ruangan Rumah Sakit{% endblock %}

{% block body%}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Ruangan RS</h1>
    <div class="row justify-content-center">
      <form method="POST">
        {% csrf_token %}
      <div class="modal-body">

            <div class="mb-3 " id="nik-form">
            <label for="koders" class="form-label">Kode Rumah Sakit</label>
            <select  required name="koders" id="koders" class="form-control">
                {% for row  in rsList %}
                <option value= {{ row.kode_faskes }}>{{ row.kode_faskes }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <h5>Kode Ruangan</h5>
            <span id="ruanganrs"> Untuk Kode Ruangan akan Di generate otomatis oleh sistem aplikasi </span>
        </div>

        <div class="mb-3">
            <label for="tipe" class="form-label">Tipe</label>
            <input required type="text" name="tipe" class="form-control" id="tipe"  >
        </div>

         <div class="mb-3 " id="tanggal-form">
            <label for="harga" class="form-label">Harga Ruangan</label>
            <input required type="int" name="harga" id="harga" class="form-control"  >
        </div>




     </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-block ">Simpan</button>
      </div>
    </form>
    </div>
</div>



    {% endblock  %}
{% block script %}

{% endblock  %}
