{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %}   Create Appointment{% endblock %}

{% block body%}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Jadwal Dokter</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nomor STR</th>
                    <th scope="col">Email Dokter</th>
                    <th scope="col">Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Buat Appointment</th>

                </tr>
            </thead>
            <tbody>
            {%for row in jadwal_dokter %}
                <tr class="table-striped">
                    <td>{{forloop.counter}}</td>
                    <td>{{row.nostr}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.kode_faskes}}</td>
                    <td>{{row.shift}}</td>
                    <td>{{row.tanggal}}</td>
                    <td><!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btncreate"  data-toggle="modal" data-target="#exampleModalLong">
                    [Book]
                    </button> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

         <div class="modal fade" id="edtmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">FORM BUAT APPOINTMENT</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <form method="POST">
        {% csrf_token %}
      <div class="modal-body">

            <div class="mb-3 " id="nik-form">
            <label for="nik" class="form-label">NIK Pasien</label>
            <select  required name="nik" id="nik" class="form-control">
                {% for row  in nikList %}
                <option value= {{ row.nik }}>{{ row.nik }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Dokter</label>
            <input required type="email" name="email" class="form-control " id="email" readonly>
        </div>

        <div class="mb-3">
            <label for="kodeFaskes" class="form-label">Kode Faskes</label>
            <input required type="text" name="kodeFaskes" class="form-control" id="kodeFaskes" readonly >
        </div>

         <div class="mb-3 " id="tanggal-form">
            <label for="tanggal" class="form-label">Tanggal Praktek</label>
            <input required type="text" name="tanggal" id="tanggal" class="form-control" readonly >
        </div>

        <div class="mb-3 " id="shift-form">
            <label for="shift" class="form-label">Shift Praktek</label>
            <input required type="text" name="shift" id="shift" class="form-control" readonly>
        </div>



     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  id="btnclose">Close</button>
        <button type="submit" class="btn btn-success btn-block ">Simpan</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>



    {% endblock  %}
{% block script %}
<script>


    $('.btncreate').on('click',function (){
         $('#edtmodal').modal('show');
        $tr = $(this).closest('tr')

        var data = $tr.children("td").map(function (){
            return $(this).text();
        }).get();
        console.log(data)
        $('#email').val(data[2]);
        $('#kodeFaskes').val(data[3]);
        $('#tanggal').val(data[5]);
        $('#shift').val(data[4]);
    });
    $('#btnclose').on('click',function (){
        $('#edtmodal').modal('hide');
    });


</script>
{% endblock  %}
