{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %} Create Bed {% endblock %}

{% block body%}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Create Bed Rumah Sakit</h1>
    <div class="row justify-content-center">
      <form method="POST">
        {% csrf_token %}
      <div class="modal-body">

            <div class="mb-3 " id="nik-form">
            <label for="koders" class="form-label">Kode Rumah Sakit</label>
            <select  required name="koders" id="koders" class="form-control">
                {% for row  in rsList %}
                <option value= {{ row.kode_faskes }}>{{ row.kode_faskes }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 " id="str-form">
            <label for="ruangan" class="form-label">Kode Rumah Sakit
                <div><h7>untuk kode ruangan tolong seusaikan dengan rumah sakitny</h7></div>
            <select  required name="ruangan" id="ruangan" class="form-control">
                {% for row  in ruangan %}
                <option value= {{ row.koderuangan }}>{{ row.koderuangan }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <h5>Kode Bed</h5>
            <span id="ruanganrs"> Untuk Kode Bed akan Di generate otomatis oleh sistem aplikasi </span>
        </div>




     </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-block ">Simpan</button>
      </div>
    </form>
    </div>
</div>



    {% endblock  %}
{% block script %}

{% endblock  %}
