{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %}  Jadwal Dokter{% endblock %}

{% block body%}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Jadwal Dokter</h1>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nomor STR</th>
                    <th scope="col">Dokter</th>
                    <th scope="col">Faskes</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Jumlah Pasien</th>

                </tr>
            </thead>
            <tbody>
            {%for row in jadwal_dokter %}
                <tr class="table-striped">
                    <td>{{forloop.counter}}</td>
                    <td>{{row.nostr}}</td>
                    <td>{{row.username}}</td>
                    <td>{{row.kode_faskes}}</td>
                    <td>{{row.shift}}</td>
                    <td>{{row.tanggal}}</td>
                    <td>{{row.jmlpasien}}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



    {% endblock  %}
{% block script %}

{% endblock  %}
