{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dokter.css' %}">
{% endblock %}
{% block title %}   RuanganRS{% endblock %}

{% block body%}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Ruangan Rumah Sakit</h1>
    <p class="text--center" id="message" style="color: white;background-color: red;border-radius: 7px;">{{message}}</p>
    <div class="row justify-content-center">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kode RS</th>
                    <th scope="col">Kode Ruangan</th>
                    <th scope="col">Tipe</th>
                    <th scope="col">Jumlah Bed</th>
                    <th scope="col">Harga Ruangan</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
            {%for row in ruanganrs %}
                <tr class="table-striped">
                    <td>{{forloop.counter}}</td>
                    <td>{{row.koders}}</td>
                    <td>{{row.koderuangan}}</td>
                    <td>{{row.tipe}}</td>
                    <td>{{row.jmlbed}}</td>
                    <td>{{row.harga}}</td>
                    <td><!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btncreate"  data-toggle="modal" data-target="#exampleModalLong">
                    [Update]
                    </button> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

         <div class="modal fade" id="edtmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">FORM UBAH RUANGAN RS</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <form method="POST">
        {% csrf_token %}
      <div class="modal-body">

        <div class="mb-3">
            <label for="RS" class="form-label">Kode Rumah Sakit</label>
            <input required type="text" name="rs" class="form-control " id="RS" readonly>
        </div>

        <div class="mb-3">
            <label for="kodeRuangan" class="form-label">Kode Ruangan</label>
            <input required type="text" name="kodeRuangan" class="form-control" id="kodeRuangan" readonly >
        </div>

         <div class="mb-3 " id="tanggal-form">
            <label for="Tipe" class="form-label">Tipe</label>
            <input required type="text" name="tipe" id="tipe" class="form-control"  >
        </div>

        <div class="mb-3 " id="shift-form">
            <label for="harga" class="form-label">Harga Ruangan</label>
            <input required type="int" name="harga" id="harga" class="form-control" >
        </div>



     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  id="btnclose">Close</button>
        <button type="submit" class="btn btn-success btn-block ">Simpan</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>



    {% endblock  %}
{% block script %}
<script>


    $('.btncreate').on('click',function (){
         $('#edtmodal').modal('show');
        $tr = $(this).closest('tr')

        var data = $tr.children("td").map(function (){
            return $(this).text();
        }).get();
        console.log(data)
        $('#RS').val(data[1]);
        $('#kodeRuangan').val(data[2]);
    });
    $('#btnclose').on('click',function (){
        $('#edtmodal').modal('hide');
    });


</script>
{% endblock  %}
